.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}
.HolyGrail-content {
  flex: 1;
  background: lightcoral;
}

.HolyGrail-nav, .HolyGrail-ads {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
  background: lightblue;
}

.HolyGrail-nav {
  /* put the nav on the left */
  order: -1;
  background: lightgoldenrodyellow;
}

header {
    background: lightgreen;
}

footer {
    background: lightsalmon;
}

/* CSS GRID Practice */
.phrases {
  display: flex;
  grid-template-columns: 50% 50%;
  grid-gap: 3px;
  padding: 5px;
  margin: 5px;
}

.phrase {
  border: 1px solid black;
}